body {
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    max-width: 1200px;
}

* {
    box-sizing: border-box;
}

.image-sliderfade {
    display: none;
}

img {
    vertical-align: middle;
}

.containerForSlide {
    position: relative;
    margin: auto;
    height: auto;
}

.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 4rem 2rem;
    /*position: absolute;*/
}

.сolor_1 {
    background: #ce2f4f;
}

.сolor_2 {
    background: #c4982c
}

.сolor_3 {
    background: #2e9045
}

.сolor_4 {
    background: #862534
}

.сolor_5 {
    background: #d94032
}

.сolor_6 {
    background: #219ec0
}

.сolor_7 {
    background: #f2b035
}

.сolor_8 {
    background: #7a1c34
}

.сolor_9 {
    background: #e0662a
}

.сolor_10 {
    background: #cf1f72
}

.сolor_11 {
    background: #eb9439
}

.сolor_12 {
    background: #c08433
}

.сolor_13 {
    background: #476e3e
}

.сolor_14 {
    background: #1f6ea6
}

.сolor_15 {
    background: #3ca445
}

.сolor_16 {
    background: #184b76
}

.сolor_17 {
    background: #203050
}

.all {
    background: #000000;
}

.containerButton {
    display: flex;
    justify-content: space-between;
    /*width: 500px;*/
}

.but {
    padding: 0.5rem 0;
    color: #dddddd;
    text-align: center;
    /*width: 100%;*/
    flex-grow: 1;
    cursor: pointer;

}

.image-sliderfade > img {
    padding: 2rem;

}

.containerIcons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.picture {
    width: auto;
    transform: rotate(45deg);
    overflow: hidden;
    /*display: inline-block;*/
    padding: 0;
    margin: 20px;
    position: relative;

}

.picture > img {
    transform: rotate(-45deg);
}

.picture:nth-child(n+7):nth-child(-n+11) {
    left: 99px;
    bottom: 98px
}

.picture:nth-child(11) {
    margin-right: 200px;
}

:nth-child(n+12) {
    bottom: 195px
}

@media only screen and (max-width: 1220px) {
    .picture > img {
        width: 150px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 96px;
        bottom: 94px
    }


    :nth-child(n+12) {
        bottom: 188px
    }
}

@media only screen and (max-width: 1160px) {
    .picture > img {
        width: 140px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 91px;
        bottom: 91px
    }

    :nth-child(n+12) {
        bottom: 182px
    }
}

@media only screen and (max-width: 1100px) {
    .picture > img {
        width: 130px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 85px;
        bottom: 87px
    }

    :nth-child(n+12) {
        bottom: 174px
    }
}

@media only screen and (max-width: 1045px) {
    .picture > img {
        width: 120px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 78px;
        bottom: 79px
    }


    :nth-child(n+12) {
        bottom: 159px
    }

    .picture {
        margin: 18px;

    }
}

@media only screen and (max-width: 980px) {
    .picture > img {
        width: 116px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 73px;
        bottom: 73px
    }


    :nth-child(n+12) {
        bottom: 146px
    }

    .picture {
        margin: 16px;

    }
}
@media only screen and (max-width: 925px) {
    .picture > img {
        width: 110px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 69px;
        bottom: 66px
    }


    :nth-child(n+12) {
        bottom: 133px
    }

    .picture {
        margin: 14px;

    }
}

@media only screen and (max-width: 880px) {
    .picture > img {
        width: 104px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 66px;
        bottom: 65px
    }


    :nth-child(n+12) {
        bottom: 130px
    }

    .picture {
        margin: 14px;

    }
}

@media only screen and (max-width: 845px) {
    .picture > img {
        width: 95px;
        transform: rotate(-45deg);
    }

    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 60px;
        bottom: 61px
    }


    :nth-child(n+12) {
        bottom: 120px
    }

    .picture {
        margin: 13px;

    }
}

@media only screen and (max-width: 800px) {
    .mainWrap {
        display: flex;
        align-items: stretch;
        align-content: stretch;
    }

    .containerButton {
        flex-direction: column;
        width: 100px;
        height: 100vh;
    }

    .containerForSlide {
        text-align: center;
        width: 100%;
        margin: 0;
        height: 100vh;
    }

    .text {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .image-sliderfade {
        height: 100%;
    }


    .picture:nth-child(n+7):nth-child(-n+11) {
        left: 0px;
        bottom: 0px
    }

    .picture > img {
        width: 120px;
    }

    .picture:nth-child(3) {
        margin-right: 100px;
    }

    .picture:nth-child(10) {
        margin-right: 100px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 84px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 84px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 84px;
        bottom: 164px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 245px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 84px;
        bottom: 326px;
    }

    :nth-child(n+12) {
        bottom: 0px
    }

    .picture {
        margin: 24px;
    }


    :nth-child(n+12) {
        bottom: 0px
    }

    .picture:nth-child(11) {
        margin-right: 24px;
    }
}

@media only screen and (max-width: 778px) {


    .picture > img {
        width: 110px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 79px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 78px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 79px;
        bottom: 158px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 237px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 79px;
        bottom: 317px;
    }
}

@media only screen and (max-width: 738px) {
    .picture {
        margin: 22px;
    }
    .picture:nth-child(11) {
        margin-right: 22px;
    }
    .picture > img {
        width: 105px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 75px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 73px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 75px;
        bottom: 147px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 220px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 75px;
        bottom: 294px;
    }
}
@media only screen and (max-width: 703px) {
    .picture {
        margin: 21px;
    }
    .picture:nth-child(11) {
        margin-right: 21px;
    }

    .picture > img {
        width: 100px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 70px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 70px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 70px;
        bottom: 140px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 205px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 70px;
        bottom: 280px;
    }
}
@media only screen and (max-width: 675px) {
    .picture {
        margin: 20px;
    }
    .picture:nth-child(11) {
        margin-right: 20px;
    }
    .picture > img {
        width: 95px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 68px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 67px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 68px;
        bottom: 134px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 201px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 68px;
        bottom: 270px;
    }
}

@media only screen and (max-width: 648px) {

    .picture > img {
        width: 90px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 65px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 67px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 65px;
        bottom: 133px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 199px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 65px;
        bottom: 267px;
    }
}
@media only screen and (max-width: 648px) {
    .picture {
        margin: 17px;
    }
    .picture:nth-child(11) {
        margin-right: 17px;
    }
    .picture > img {
        width: 90px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 62px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 59px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 62px;
        bottom: 118px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 176px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 62px;
        bottom: 235px;
    }
}

@media only screen and (max-width: 600px) {
    .picture {
        margin: 16px;
    }
    .picture:nth-child(11) {
        margin-right: 16px;
    }
    .picture > img {
        width: 85px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 58px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 55px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 58px;
        bottom: 111px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 167px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 58px;
        bottom: 223px;
    }
}

@media only screen and (max-width: 570px) {
    .picture {
        margin: 15px;
    }
    .picture:nth-child(11) {
        margin-right: 15px;
    }
    .picture > img {
        width: 80px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 55px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 52px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 55px;
        bottom: 104px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 156px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 55px;
        bottom: 208px;
    }
}

@media only screen and (max-width: 541px) {

    .picture > img {
        width: 75px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 53px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 51px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 53px;
        bottom: 102px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 153px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 53px;
        bottom: 204px;
    }
}

@media only screen and (max-width: 525px) {

    .picture > img {
        width: 70px;
    }

    .picture:nth-child(n+1):nth-child(-n+3) {
        left: 50px;
    }

    .picture:nth-child(n+4):nth-child(-n+7) {
        bottom: 51px;
    }

    .picture:nth-child(n+8):nth-child(-n+10) {
        left: 50px;
        bottom: 101px;
    }

    .picture:nth-child(n+11):nth-child(-n+14) {
        bottom: 151px;
    }

    .picture:nth-child(n+15):nth-child(-n+17) {
        left: 50px;
        bottom: 202px;
    }
}


@media only screen and (max-width: 500px) {
    .mainWrap {
        display: flex;
        align-items: stretch;
        align-content: stretch;
    }

    .containerButton {
        flex-direction: column;
        width: 70px;
        height: 100vh;
    }
.but{
    vertical-align: middle;
}
    .containerForSlide {
        text-align: center;
        width: 100%;
        margin: 0;
        height: 100vh;
    }

    .text {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .image-sliderfade {
        height: 100%;
    }

    .all {
    display: none;
    }

    .containerIcons{
        display: none;
    }

    /*.picture:nth-child(n+7):nth-child(-n+11) {*/
    /*    left: 0px;*/
    /*    bottom: 0px*/
    /*}*/
    /*.picture > img {*/
    /*    width: 120px;*/
    /*}*/
    /*.picture:nth-child(3) {*/
    /*    margin-right: 100px;*/
    /*}*/
    /*.picture:nth-child(10) {*/
    /*    margin-right: 100px;*/
    /*}*/
    /*.picture:nth-child(n+1):nth-child(-n+3) {*/
    /*    left: 84px;*/
    /*}*/
    /*.picture:nth-child(n+4):nth-child(-n+7) {*/
    /*    bottom: 84px;*/
    /*}*/
    /*.picture:nth-child(n+8):nth-child(-n+10) {*/
    /*    left: 79px;*/
    /*    bottom: 158px;*/
    /*}*/
    /*.picture:nth-child(n+11):nth-child(-n+14) {*/
    /*    bottom: 237px;*/
    /*}*/
    /*.picture:nth-child(n+15):nth-child(-n+17) {*/
    /*    left: 84px;*/
    /*    bottom: 317px;*/
    /*}*/
    /*:nth-child(n+12) {*/
    /*    bottom: 0px*/
    /*}*/
    /*.picture {*/
    /*    margin: 24px;*/
    /*}*/
    /*:nth-child(n+12) {*/
    /*    bottom: 0px*/
    /*}*/
    /*.picture:nth-child(11) {*/
    /*    margin-right: 24px;*/
    /*}*/


}


